


@(postUrl: Call, form: Form[LoginForm.Data])(implicit request: MessagesRequestHeader)

@main("login") {

<h1>Login</h1>


@helper.form(postUrl) {

    @helper.CSRF.formField

    @helper.inputText(form("name"))

    @helper.inputPassword(form("password"))

    <button>Login</button>
    }

    <table>
        <tr>
            <td>User</td>
            <td>Password</td>
        </tr>
        <tr>
            <td>jouko</td>
            <td>123</td>
        </tr>
        <tr>
            <td>ram</td>
            <td>1234</td>
        </tr>
    </table>

}
